*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Container{
    display: flex;
    align-items: center;
    justify-content: space-between;     
}
header,footer {
    background-color: #1D0F6E;
    color: white;
    padding: 20px ; 
    display: flex;
}
footer{
    justify-content: center;
    height: 70px;
}

.ctelefone{
    padding-left: 1000px;
}
.cemail{
    padding-left: 40px;
}

.Cinicio{
    background-size: cover;
    background-image: url(img/aviao.png);
    height: 850px;
    display: flex;
    justify-content: center;

}
.Cinicio h2{
  padding-top: 100px;
  color: white;
  font-size: 90px;
  text-align: center;
}
h1{
    padding-top: 20px;
}
.divisao{
    background-color: #F4F3F3;
    width: 100px;
    border-radius: 8px;
    margin: 10px;
}
.pacote{
    display: flex;
    justify-content: center;
}
h2{border: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 90px;
    color: #1D0F6E;
}
